* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: #BFD7EA;
    color: #FF5A5F;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}

#container {
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hd hd hd hd" "dv dv dv dv" "hb st st st" "ft ft ft ft";
}

header {
    grid-area: hd;
    background: #0B3954;
    text-align: center;
    margin: 20px;
    border-radius: 0.8rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    ;
}

header img {
    width: 50px;
    height: auto;
    border-radius: 0.5rem;
}

.divers {
    grid-area: dv;
    background: #0B3954;
    margin: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    padding: 20px 20px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    justify-self: center;
    margin: auto;
    padding: 20px 15px;
}

.hobbies {
    grid-area: hb;
    background: #0B3954;
    text-align: center;
    margin: 20px;
    border-radius: 0.8rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    line-height: 50px;
}

.hobbies ul {
    list-style-type: none;
}

h2,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
}

.story {
    grid-area: st;
    background: #0B3954;
    margin: 20px;
    border-radius: 0.8rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    ;
    padding: 20px 20px;
    line-height: 50px;
}

footer {
    grid-area: ft;
    background: #0B3954;
    text-align: center;
    margin: 20px;
    border-radius: 0.8rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    padding: 15px 20px;
}

a {
    color: #FF5A5F;
}